<strong>Olá, {{ deliveryman }}</strong>
<p>Houve uma nova encomenda disponível para ser retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> Rua {{ street }} {{ number }} {{ complement }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <br />
</p>
